<div class="container mt-3 ">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 mb-3 border-buttom">
        <h2>Plamo List</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Order</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Grade</th>
                    <th class="text-center" scope="col">Brand</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plamo of plamoList; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{plamo.name}}</td>
                    <td class="text-center">{{plamo.grade}}</td>
                    <td class="text-center">{{plamo.brand}}</td>
                    <td class="text-center">{{plamo.price}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary mx-2"
                            routerLink="/update-plamo/{{plamo._id}}">Edit</button>
                        <button class="btn btn-sm btn-danger mx-2" (click)="delete(plamo._id,i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>