<div class="container mt-3 ">
    <h2 class="py-2 mb-3">Add Plamo</h2>
    <div class="row justify-content-center center mt-3">
        <div class="col-md-12">
            <form [formGroup]="plamoForm" (ngSubmit)="OnSubmit()" ngNativeValidate>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="text" class="form-control" formControlName="grade">
                </div>
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" class="form-control" formControlName="brand">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" formControlName="price" required="">
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary col-12">Add Plamo</button>
                </div>
            </form>
        </div>
    </div>
</div>